@{
    ViewBag.Title = "Our Services";
}

<h2>Our Services</h2>

<h2>What Makes Us Stand Out</h2>

<ol class="round">
    <li class="one">
        <h5>World Class Service Provider</h5>
        ASP.NET membership gives you a built-in way to create, store, and 
        validate user credentials (authentication). By default, membership works with a local instance of SQL Express, 
        but you can configure it to use another database.
    </li>
    <li class="two">
        <h5>Affordable Prizes</h5>
        NuGet makes it easy to install and update free libraries and tools in Visual Studio. In <em>Solution Explorer</em>, 
        right-click the <em>References</em> node, select <em>Manage NuGet Packages</em>, and then pick from the extensive 
        list of packages.
    </li>
    <li class="three">
        <h5>Great Support</h5>
        Use Microsoft Web Deploy to quickly and easily publish your application to a web server. 
        In <em>Solution Explorer</em>, right-click your project, select <em>Publish</em>, 
        and choose one of the many options to get your code deployed and running on the web.
    </li>
    <li class="three">
        <h5>Satisfied Customer</h5>
        Use Microsoft Web Deploy to quickly and easily publish your application to a web server. 
        In <em>Solution Explorer</em>, right-click your project, select <em>Publish</em>, 
        and choose one of the many options to get your code deployed and running on the web.
    </li>
    <li class="three">
        <h5>Where are we heading? </h5>
        Use Microsoft Web Deploy to quickly and easily publish your application to a web server. 
        In <em>Solution Explorer</em>, right-click your project, select <em>Publish</em>, 
        and choose one of the many options to get your code deployed and running on the web.
    </li>
</ol>