@{
    ViewBag.Title = "Management Team";
}

@section featured {
<section class="featured">    
    <div class="content-wrapper">
    <hgroup class="title">
            <h1>@ViewBag.Title to </h1>
            <h2 style="text-decoration:underline">@ViewBag.Message</h2>
            <h3> &nbsp;An ISO Certified</h3>
        </hgroup>
                <a href="#"><img src="@Url.Content("~/images/slide-innovation.jpg")" height="300" width="800" alt="Management Team" /></a>
    </div>
</section>
}


<h2>Management Team</h2>
